body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
}
/* HEADER */

.titulo {
    color: #32b9cd;
    width: fit-content;
    font-weight: 500;
}

.navbar {
    width: 300px;
    color: #e3b062;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a{
    color: #e3b062;
    text-decoration: none;
}

.navbar a:hover {
    color: #32b9cd
}

.header {
    border-bottom: 3px solid #32b9cd;
}
.container {
    width: 80%;
    margin: auto;
    display: flex;
}

.header .container {
    justify-content: space-between;
} 
.banner{
background-image: url("./assets/bg-jelly-fish-para_outras_pags.png");
height: 500px;
display: flex;
align-items: center;
}
.banner .container {
    justify-content: center;
    align-items: center;
    height: 85%;
    width: 25%;
    padding: 6px;
    background-color: #d6d3cb;
    border-radius: 4px;
}

 .cadastrar .ipts {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: #ff8cbf; 
    font-family: Arial, Helvetica, sans-serif;
}



  .ipts  h1{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: #ff8cbf; 
    font-family: Arial, Helvetica, sans-serif;
}


 .ipts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 65%;
    font-size: 19px;
}


 .ipts label {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    color: #ff8cbf;
}

 .ipts input {
    height: 30px;
    border: 3px solid #61d4c4;
    border-radius: 12px;
    text-align: center;
}
   button {
    width: 50%;
    height: 40px;
    background-color:#db1269;
    font-weight: bold;
    border: 0px;
    border-radius: 4px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    align-self: center;
}

